{{!< default}}

    <article class="animated fadeIn {{post_class}}">
        <div class="container">
            <h1>Oh no! Looks like you lost the breadcrumb trail.</h1>
            <h2>You can go back to the <a href="/">home page</a> now</h2>
        </div>
    </article>

{{> excerpts}}