{{!< default}}

{{#post}}

    {{> post-meta}}

    <header class="animated fadeIn" {{#if image}}style="background-image: url({{image}})"{{/if}}>
        <div class="container" data-stellar-ratio="0.75">
            {{> title}}
        </div>
    </header>

{{! Temporary indentation shift for Handlebars issue }}
{{> content}}

{{/post}}
